<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Commuter - Departures Pro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Commuter - Departures.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Commuter - Routes Pro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Reitti Pro Release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Reitti Pro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Reitti.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WatchRoutes (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>WatchRoutes (Glance).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>WatchRoutes (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>WatchRoutes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>662481831D1FFBF700574319</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66947CB118830ED500642EE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66947CD518830ED500642EE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66C732BB1C556DA5002544BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66C7350B1C556FA4002544BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66C735661C556FB5002544BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66DAC7CC1A025ED90002BE16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66E0F0171F0B1F2300FA1532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
